.footermain {
  background-color: var(--color-theme);
}
.whitefooter {
  /* padding-bottom: 2rem; */
}

.newletterhead {
  font-weight: 800;
  font-size: 25px;
  color: var(--color-white);
}

.newsletterpara {
  color: var(--color-white);
  font-weight: normal;
}

.newsletterinpt {
  background-color: var(--color-background);
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: start;
}

.newsletterinpt :focus {
  border: none !important;
}
.subsbtn {
  background-color: var(--color-background);
  padding: 10px;
  border-radius: 5px;
  width: auto;
  height: 45px;
  margin: 0 auto;
  color: var(--color-theme);
  font-weight: 800;
}
.linkstitle {
  font-weight: 700;
  font-size: 24px;
}
.footerlogo {
  height: 150px;
  width: max-content;
  object-fit: contain;
}

.linkkk {
  text-decoration: none;
  text-transform: uppercase;
  color: #362a60;
  text-align: start;
}

.copyright {
  font-weight: bold;
}

.copyrightrow {
  margin-top: 3rem !important;
}

.linkkk:hover {
  font-weight: 800;
  transform: translate(10px);
}
@media screen and (max-width: 768px) {
  .newletterhead {
    font-size: 22px;
  }
  .whitefooter {
    padding-bottom: 0rem;
  }
}
